:root {
  --cor1: #0d296fe0;
  --cor2: #3588ee;
  --cor3: #10a8ea;
  --cor4: #fffafa;
  --fundo: #180657b3;
  --fundobanner: rgba(28, 19, 56, 0.14);
  --fundo1: #0000004d;
  --fundo2: #31a8dd4d;
  --fundo3: #0000004d;
}
